{% extends 'base.html' %}

{% load static %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static '/home/home.css' %}">
{% endblock %}

{% block extra_js %}
    <!-- Particle Config -->
    <script src="{% static 'home/particles.min.js' %}"></script>
    <script>
        $(particlesJS.load('particles-js', '{% static "home/particles.json" %}', function() {
            console.log('callback - particles.js config loaded');
        }));
    </script>
{% endblock %}

{% block contents %}
    <div id="particles-js">
        <div class="ui container">
            <div class="ui inverted text menu">
                <a class="active item">
                    خانه
                </a>
                <a class="item">
                    آرشیو مسابقات
                </a>
                <div class="right menu">
                    <div class="item">
                        <a class="ui inverted orange button" href="/login">
                            ثبت نام
                            <span style="font-size: 23px;"> / </span>
                            ورود
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="header-segment">
        <h1>به سایت مسابقات گمانش خوش آمدید</h1>
        <img src="{% static 'img/1.png' %}" style="height: 120px;">
        <img src="{% static 'img/2.png' %}" style="height: 120px;">
        <img src="{% static 'img/3.png' %}" style="height: 120px;">
        <img src="{% static 'img/4.png' %}" style="height: 110px;">
    </div>
    <div class="our-customers">
        <div class="ui container">
            <div class="ui horizontal list">
                <div class="item">
                    <img src="{% static 'img/sbu.jpg' %}" style="height: 80px;">
                </div>
                <div class="item">
                    <img src="{% static 'img/cs.jpg' %}" style="height: 80px;">
                </div>
                <div class="item">
                    <img src="{% static 'img/rahnema.jpg' %}" style="height: 80px;">
                </div>
                <div class="item">
                    <img src="{% static 'img/digikala.jpg' %}" style="height: 80px;">
                </div>
            </div>
            <div class="ui horizontal divider">
                برگزارکنندگان
            </div>
            <div class="ui green raised segment">
                <div class="ui large header">موضوع رقابت</div>
                <p>مسابقه گمُانش، عرصه‌ای برای رقابت علاقمندان به توسعه و پیاده‌سازی نرم‌افزارهای هوش مصنوعی است.
                    شرکت‌کنندگان در این مسابقه چت‌بات‌هایی را در چارچوب رابط برنامه‌سازی بات تلگرام طراحی می‌کنند.
                    هر چت‌بات که آنرا گمُانشگر می‌نامیم می‌بایست بتواند کلمه یا عبارتی را که مخاطب انسانی در ذهن خود دارد با پرسیدن حداکثر ۲۰ سئوال بله/خیر حدس بزند.
                    مسابقه گمُانش در کلیّت مشابه یک مسابقه ۲۰ سئوالی گروهی است. جزئیات قوانین و نحوه‌ی برگزاری از طریق وب‌سایت و کانال مسابقه در دسترس تیم‌های شرکت‌کننده قرار داده می‌شود.
                </p>
            </div>
            <div class="ui yellow raised segment">
                <div class="ui large header">پیاده‌سازی و زبان برنامه‌نویسی</div>
                <p>
                    برای شرکت در مسابقه تنها کافی است شناسه‌ی تلگرام بات خود را به ما معرفی کنید.
                    در این رقابت، هیچ محدودیتی در انتخاب زبان برنامه‌نویسی وجود ندارد.
                    هر تیم، متشکل از سه نفر، در بازه‌ی زمانی پیش از مسابقه فرصت دارد به زبان برنامه‌نویسی دلخواه خود یک بات تلگرام که توانایی طرح سئوالات بله/خیر دارد پیاده‌سازی کند.
                    در زمان ثبت‌نام، هر تیم می‌بایست شناسه‌ی بات شرکت‌کننده‌اش را اعلام کند.
                    میزبانی برنامه‌ی بات بر عهده خود تیم است.
                    دو نمونه کد الگو که چارچوب کلی مقررات مسابقه در آنها پیاده‌سازی شده است به زبان‌های جاوا (از اینجا) و پایتون (از اینجا) قابل دسترسند.
                </p>
            </div>
            <div class="ui blue raised segment">
                <div class="ui large header">تم، محدودیت‌ها و چالش‌ها</div>
                <p>
                    تم مسابقه، مشاهیر و شخصیت‌های تاریخی و زمان حال دنیای واقع و دنیای تمثیل هستند.
                    <br>
                    محدودیت ۱) گنجینه پرسش بسته.
                    <br>
                    سئوالات بات‌ها در دورهای اول و دوم، دقیقا باید از سئوالات تعیین شده در گنجینه پرسش‌ها از پیش تعیین شده باشد. در غیر اینصورت سئوال بات نامعتبر به حساب می‌آید. گنجینه‌ی پرسش‌ها، یک هفته پیش از آغاز مسابقه به طور عمومی منتشر می‌شود.
                    <br>
                    محدودیت ۲) گنجینه کلمات هدف بسته.
                    <br>
                    کلمه‌ی هدفی که بات‌ها می‌بایست طی ۲۰سئوالی آنرا حدس بزنند در دورهای اول، دوم و سوم، به طور تصادف از یک گنجینه‌ی کلمات از پیش تعیین شده انتخاب می‌شود. گنجینه‌ی کلمات یک هفته پیش از آغاز مسابقه به طور عمومی منتشر می‌شود.
                    <br>
                    چالش ۱) پرسش آزاد.
                    <br>
                    بات‌ها مجازند در دور سوم و چهارم مسابقه، از پرسش‌های دلخواه به لحاظ معنایی، در چارچوب ساختار تعیین شده استفاده کنند.
                </p>
            </div>
        </div>
    </div>
    <div class="ui inverted vertical segment">
        <div class="ui container">
            <b style="font-size: 22px;">©</b>
            توسعه داده شده توسط تیم وب دانشگاه شهید بهشتی
        </div>
    </div>
{% endblock %}