{% extends 'base.html' %}

{% block content %}
    <h2>{{ team.name }}</h2>
    <br>
    {% if request.user.profile.admin %}
        <form method="post" action="{% url 'delete_member' %}">
            {% csrf_token %}
            {% for member in team_member %}
                <input type="checkbox" id="{{ member.id }}" value="{{ member.id }}" name="member"/>
                <label for="{{ member.id }}">{{ member }}</label>
                <br>
            {% endfor %}
            <button type="submit">Delete</button>
        </form>
        <br>
        <a href="{% url 'team_delete' %}">Delete team</a>
        <br>
        <a href="{% url 'change_admin' %}">Change admin</a>
        <br>
        <h2>Invitation</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Invite</button>
        </form>
        <ul>
            {% for invitation in invitations %}
                <li>{{ invitation }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <ul>
            {% for member in team_member %}
                <li>{{ member }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}